:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.ql-toolbar.ql-snow {
border:none;
text-align: center;
margin-top: 10px;
}

.ql-container.ql-snow {
margin:0 5%;
border: none;
font-family: 'Architects Daughter', cursive;
font-size: 20px;
}

.react-calendar { 
  width: 550px;
  height: 400px;
  background-color: #fffaf9;
  color: #222;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.8;
 }
 .react-calendar__navigation button {
  color: #458046;
  min-width: 44px;
  background: none;
  font-size: 20px;
  margin-top: 8px;
  font-family: "Lexend Deca";
 }
 /* .react-calendar__month-view__days button:enabled:hover,
 .react-calendar__month-view__days button:enabled:focus {
  background-color: #2a2aba;
 } */
 .react-calendar__month-view__weekdays{
  text-align: center;
  padding: 20px 0px;
 }
 .react-calendar__month-view__days{
  font-family: "Lexend Deca";
  height: 280px;
  border-radius: 20px;
 }
 .react-calendar__tile--now {
  background: #35644a33;
  border-radius: 6px;
  font-weight: bold;
  color: #238558;
  font-family: "Lexend Deca"
}






@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
